* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  /* Font */
  --main-font: 'Montserrat', sans-serif;
  --main-fw: 400;
  --secondary-fw: 600;
  --main-fz: 18px;
  --secondary-fz: 22px;
  --main-lh: 1.3;

  /* Colors */
  --main-light: #fafafa;
  --main-dark: #252525;
  --light-grey: #c4c4c4;
}

body {
  max-width: 1600px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: var(--main-fw);
  font-size: var(--main-fz);
  line-height: var(--main-lh);

  color: var(--main-dark);
  background-color: var(--main-light);
}

/* Common styles */
.section {
  max-width: 1200px;
  margin: 0px auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.3;
  color: var(--main-dark);
}

/* Header------------------------------------- */

.header-container {
  padding: 40px 0px;
}

.header__link {
  display: flex;
  justify-content: center;
}

.header__logo {
  padding-bottom: 40px;
}

.header__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__img {
  width: 100%;
  height: 100%;

  padding-bottom: 120px;
}
