* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* Font */
  --main-font: 'Montserrat', sans-serif;
  --main-fw: 400;
  --secondary-fw: 600;
  --main-fz: 18px;
  --secondary-fz: 22px;
  --main-lh: 1.3;

  /* Colors */
  --main-light: #fafafa;
  --main-dark: #252525;
  --light-grey: #c4c4c4;
  --accent-color: #0092ff;
}

body {
  max-width: 1600px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: var(--main-fw);
  font-size: var(--main-fz);
  line-height: var(--main-lh);

  color: var(--main-dark);
  background-color: var(--main-light);
}

/* Common styles */
.section {
  max-width: 1200px;
  margin: 0px auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.3;
  color: var(--main-dark);
}

.btn {
  display: inline-block;
  padding: 10px;

  border-radius: 5px;
  border: 1px solid transparent;
  background-color: var(--light-grey);

  transition: all 1s ease 0s;
}

.btn:hover,
.btn:focus {
  color: var(--accent-color);
  background-color: #c4c4c48e;
}

/* Header------------------------------------- */

.header-container {
  padding: 40px 0px;
}

.header__link {
  display: flex;
  justify-content: center;
}

.header__logo {
  padding-bottom: 40px;
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__item:hover,
.header__item:focus {
  color: var(--accent-color);
}

.header__img {
  width: 100%;
  height: 100%;

  padding-bottom: 120px;
}

/* Main--------------------------------------- */
/* Hero--------------------------------------- */

.hero__title {
  padding-bottom: 20px;
}

.hero__text {
  padding-bottom: 40px;
  max-width: 622px;
}

.hero__link {
  margin-bottom: 60px;
}

.hero__list {
  display: flex;
  justify-content: space-between;

  padding-bottom: 120px;
}

.hero__item {
  position: relative;
}

.hero__item:not(:last-child) {
  margin-right: 104px;
}

.hero__item:first-child {
  max-width: 269px;
}

.hero__item:not(:last-child):after {
  content: '';
  display: block;

  position: absolute;
  left: 116.94%;
  top: 33.69%;

  width: 1px;
  height: 100px;

  background-color: var(--main-dark);
}

.hero__subtitle {
  padding-bottom: 20px;
}

.hero__video {
  width: 100%;
  height: 100%;
}

.hero__video-desc {
  max-width: 476px;

  margin-left: 810px;
  padding-top: 30px;
  padding-bottom: 120px;

  font-size: var(--secondary-fz);
}

/* Units-------------------------------------- */

.units-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 80px;

  padding-bottom: 120px;
}

.units-box1 {
  grid-area: 1 / 1 / 2 / 2;
}

.units-box2 {
  grid-area: 1 / 2 / 2 / 3;
}

.units-box3 {
  grid-area: 2 / 1 / 3 / 2;
}

.units-box4 {
  grid-area: 2 / 2 / 3 / 3;
}

.units__title {
  padding-bottom: 60px;
}

.units__item {
  position: relative;
}

.item-units__spoiler {
  display: flex;
  justify-content: space-between;

  max-width: 400px;
  padding: 10px 0;

  font-size: var(--secondary-fz);

  border-bottom: 1px solid var(--main-dark);
  cursor: pointer;
}

.item-units__spoiler::before,
.item-units__spoiler::after {
  content: '';

  position: absolute;
  top: 20px;
  left: 380px;

  width: 10px;
  height: 1px;

  background-color: var(--main-dark);

  transition: all 0.3s ease 0s;
}

.item-units__spoiler::before {
  transform: rotate(40deg);
  left: 373px;
}

.item-units__spoiler::after {
  transform: rotate(-40deg);
}

.item-units__spoiler.active::before,
.item-units__spoiler.active::after {
  background-color: var(--accent-color);
}

.item-units__spoiler.active::before {
  transform: rotate(-40deg);
}

.item-units__spoiler.active::after {
  transform: rotate(40deg);
}

.item-units__spoiler.active {
  color: var(--accent-color);
}

.item-units__desc {
  padding-top: 10px;
}

.item-units__desc {
  max-width: 400px;
  display: none;
}

.units__img {
  display: block;
}

.units__img:first-child {
  margin-left: 200px;
}

.units__subtitle {
  padding-bottom: 20px;

  font-weight: var(--secondary-fw);
  font-size: 36px;
}

.units__text {
  padding-bottom: 40px;
}

/* Offices------------------------------------ */

.office__title {
  padding-bottom: 20px;
}

.office__text {
  padding-bottom: 70px;
  max-width: 611px;
}

.office__img {
  margin-left: 115px;
  padding-bottom: 120px;
}

/* Footer------------------------------------- */
/* Feedback----------------------------------- */

.feedback-container {
  display: flex;
  padding-bottom: 42px;
}

.feedback-left {
  margin-left: 400px;
  text-align: center;
}
.feedback__text,
.feedback__desc {
  font-size: var(--secondary-fz);
}
.feedback__title {
}

.feedback-right {
  margin-left: 300px;
}
.feedback__desc {
  padding-bottom: 15px;
}
.feedback__pic {
  cursor: pointer;
}

/* Footer Contact */
.footer-container {
  background-color: var(--main-dark);

  padding: 40px 0px 64px 0px;
}

.footer-box {
  display: flex;
  justify-content: space-between;
}

.footer-contact {
}
.footer-contact__title {
  padding-bottom: 30px;

  font-size: var(--secondary-fz);
  line-height: var(--main-lh);
  color: #fafafa;
}
.footer-contact__adders {
}
.footer-contact__link {
}

.footer-contact__desc {
  padding-bottom: 30px;
  max-width: 400px;
  color: var(--main-light);
}

.footer-contact__desc > span {
  display: block;
}

.footer-contact__phone {
  display: block;

  color: var(--main-light);
}

.footer-contact__item:first-child {
  padding-bottom: 5px;
}

/* Footer Socials */
.footer-socials {
}

.footer-socials__title {
  padding-bottom: 30px;

  font-size: var(--secondary-fz);
  line-height: 1.23;

  color: var(--main-light);
}

.footer-socials__subtitle {
  padding-bottom: 30px;

  color: var(--main-light);
}

.footer-socials__link {
  display: block;
  padding-bottom: 60px;

  color: var(--main-light);
}

.footer-socials__list {
  display: flex;
  /* margin-left: 50px; */
}

.socials-link:not(:first-child) {
  margin-left: 15px;
}

/* Facebook icon */
.socials-link__facebook {
  display: block;
  width: 36px;
  height: 36px;

  background: url('../img/main-page/footer/icon/facebook=norm.svg') no-repeat;

  transition: all 1s ease 0s;
}

.socials-link__facebook:hover {
  width: 36px;
  height: 36px;

  background: url('../img/main-page/footer/icon-hover/facebook.svg') no-repeat;

  transition: all 1s ease 0s;
}

/* Twitter icon */
.socials-link__twitter {
  display: block;
  width: 36px;
  height: 36px;
  background: url('../img/main-page/footer/icon/tw=norm.svg') no-repeat;
  transition: all 1s ease 0s;
}

.socials-link__twitter:hover {
  width: 36px;
  height: 36px;
  background: url('../img/main-page/footer/icon-hover/tw=hover.png') no-repeat;
}

/* VK icon */
.socials-link__vk {
  display: block;
  width: 36px;
  height: 36px;
  background: url('../img/main-page/footer/icon/vk=norm.svg') no-repeat;
  transition: all 1s ease 0s;
}

.socials-link__vk:hover {
  width: 36px;
  height: 36px;
  background: url('../img/main-page/footer/icon-hover/vk.svg') no-repeat;
}
